
/* ******************************************
	Eric Meyer Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
****************************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ******************************************
	Set up Boxsizing: BorderBox 
****************************************** */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/* ******************************************
	Clearfix 
****************************************** */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}


/* ******************************************
	General Styles
****************************************** */

main {
	font-family: 'Open Sans', sans-serif;
}


#topBar {
	background-color: #642b83;
	height: 173px;
	border-bottom: solid 7px #4b0049;
	margin: 0;
	box-shadow: 4px 4px 10px 3px #ccc;
}

header {
	width: 760px;
	margin: auto;
	padding-top: .75em;
}

header > img {
	height: 9.5em;
	float: left;
	padding-right: 1em;
	padding-bottom: .75em;
	padding-top: .25em;
	margin-left: 2em;
}

header h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 6em;
	padding-top: .17em;
}



form#mainInput {
	display: block;
	max-width:588px;
	margin: auto;
	margin-top: 2em;

}

form#mainInput input.text {
	width: 92%;
	height: 2.25em;
	border: solid 3px #662d91;
	color: #642b83;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	padding:.5em;
	border-radius: 10px;
	vertical-align: bottom;
	box-shadow: inset -1px 1px 7px #777;
}

/* style placeholder text */
::-webkit-input-placeholder {
   color: #bf95b3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bf95b3;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bf95b3; 
}

:-ms-input-placeholder {  
   color: #bf95b3;  
}
/* end style placeholder text */


form#mainInput input.enter {
	width: 3.25em;
	height: 3.25em;
	color: #662d91;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	border:solid 3px #662d91;
	margin-top: .75em;
	float: right;
	background: url(../img/plus_purple08.svg);
	background-size: 100%;	
	color: rgba(255, 255, 255, 0);
	}

form#mainInput input.enter:hover {
	background-color: #bf95b3;
	background-image: url(../img/plus_white08.svg);
}

/*no item entered warning box */

div.noItemText {
	color: #4b0049;
	text-align: center;
	font-family: 'Open Sans', sans-serif;	
	font-weight: 700;
	font-size: 	1.1em;
	padding: .5em;
	position: relative;	
	border:  solid 1px #4b0049;
	border-radius: 7px;
	width:75%;
	margin:auto;
	margin-top: .75em;
	
}

div.noItemText > button.close {
	color: #c5a0bb;
	font-size: 1em;
	position: absolute;	
	right: 3px;
	top: 1px;	
	background-color:white;
	border:none;
	
}

div.noItemText:hover {
	background-color: #c5a0bb;

} 

div.noItemText:hover > button.close {
	color: #4b0049;
	background-color: #c5a0bb;
}


ul.listHolder {
	margin: 2em auto;
	width:36em;
	
}



ul.listHolder li {
	border-bottom: solid 2px #98cbe1;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	height: 52px;
	position: relative;
}

ul.listHolder li > img.grip {
	height:34px;
	width: 23px;
	position: absolute;
	cursor: move;
	margin-top:.25em;
}

ul.listHolder li > div.listItem {
	display: inline-block;
	margin-left: 1.5em;
	padding-top: .5em
}


ul.listHolder li:hover {
	color: #943c7d;
	background-color: #deeef5 ;
}


ul.listHolder li.hover {
	color: #943c7d;
	background-color: #deeef5 ;
}


input.delete {
	background: url(../img/trashCan07Blue.svg) no-repeat 0 0;
	position: absolute;
	width: 20px;
	height:30px;
	top:10px;
	right:15px;
	border: none;
	color: rgba(255, 255, 255, 0);
}

ul.listHolder li:hover input.delete {
	background: url(../img/trashCan01Purple.svg) no-repeat 0 0;
	cursor: pointer;
}


/* check boxes and checked state */



ul.listHolder li input[type="checkbox"] {
	border: solid 1px #0054a6;
}


input[type=checkbox]:not(old) {
 	width: 30px;
 	height: 25px;
	margin: 0;
  	padding: 0;
  	opacity: 0;
  	cursor: pointer;

}

input[type=checkbox]:not(old) + label {
	display: inline-block;
	margin-left: -20px;
	padding-left: 40px;
	background: url(../img/checkBox01-02.png) no-repeat 0 0;

 	line-height: 28px;
 	cursor: pointer;
 }

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -33px;
}




input:checked + label:after {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -1px; /* height/2 */
    width: 50%;
    height: 3px; /* Adjust */
    background: #da6d33;
   /* -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg); */
}




/* ******************************************
	email and print buttons
****************************************** */

#buttons {
	display: none;		
}

form#emailForm {
	display: none;		
}

button#emailB, button#printB {
	background-color: #84579c;
	color: white;
	border-radius: 10px;
	border: 0;
	font-size: 1.75em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: .25em .75em;
}

 button#printB {
 	float: right;
}

button#emailB:hover, button#printB:hover {
	background-color: #0054a6;
	cursor: pointer;
}


#emailForm {
	max-width:588px;
	margin: auto;
	margin-top: 2em;
	background-color: #0054a6;
	border-radius: 10px;
	padding: 2.25em;
	margin-bottom:2em;
	position: relative;	
}

#emailForm button.emailClose {
	color: #6dcff6;
	background-color: #0054a6;
	border: none;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	top:5px;
	right: 5px;
}


#emailForm button.emailClose:hover {
	cursor: pointer;
	color: white;
}

input.text {
	width: 100%;
	border: none;
	color: #642b83;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	padding:.5em;
	border-radius: 10px;
	vertical-align: bottom;
	box-shadow: inset -1px 1px 7px #777;

}

input.sendEmail {
	display: block;
	background-color: #6dcff6;
	color: white;
	border: none;
	font-size: 1.75em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: .25em 1.5em;
	border-radius: 10px;
	margin-top: 1.25em
}

input.sendEmail:hover {
	background-color: #84579c;
	cursor: pointer;
}